---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 text-center mb-4">
            <p class="lead">
                🔐 Cyber threats are evolving—are you prepared? <br>
                Let's discuss how I can help strengthen your security, assess risks, and build a resilient defense against attacks.
            </p>
            <ul class="list-unstyled">
                <li>✔ Personalized security insights tailored to your needs.</li>
                <li>✔ Guidance on protecting your applications, APIs, and systems.</li>
                <li>✔ Strategies to enhance security without disrupting business.</li>
                <li>✔ Clear next steps to secure your digital assets.</li>
            </ul>
            <p class="fw-bold">💬 Don’t wait until it’s too late! Schedule your free consultation today.</p>
        </div>
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/sobatistacyber?hide_landing_page_details=1" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->
    </div>
</div>
