---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="intro-carousel">
      <img id="carousel-image" src="/images/illustrations/home.jpg" alt="Cybersecurity Image">
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-7 col-lg-6">
        <div class="intro-content">
          {{ content }}
          <div>
            <div class="pb-2">
              {% if site.data.contact.description %}
                  <div class="call-phone"><strong>{{ site.data.contact.description }} </strong>  </div>
              {% endif %}
            </div>
              <div >
                <a class="cta-button" href="{{ site.data.contact.contact_button_link }}">Book a FREE Call</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View All Services</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.social %}
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for social in site.data.social %}
      <div class="col-12 col-md-6 col-lg-4 mb-2" onclick="window.open('{{ social.link }}', '_blank', 'noopener,noreferrer');">
        <div class="social">
          {% if social.image %}
          <div class="social-image"><img alt="{{ social.name }} logo" src="{{ social.image.url | relative_url }}" width="{{ social.image.width }}" height="{{ social.image.height }}" /></div>
          {% endif %}
          <h2 class="social-title">{{ social.name }}</h2>
          <div class="social-content">{{ social.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

{% if site.data.achievements %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="section-title text-center mb-4">Why Work With Me?</h2>
    <div class="row justify-content-center">
      {% for achievement in site.data.achievements %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="achievement">
          {% if achievement.image %}
          <!--div class="achievement-image">
            <img src="{{ achievement.image.url | relative_url }}" width="{{ achievement.image.width }}" height="{{ achievement.image.height }}" />
          </div-->
          {% endif %}
          <h3 class="achievement-title">{{ achievement.title }}</h3>
          <p class="achievement-content">{{ achievement.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!--
{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
-->